<div class="TextAgency">@TextOverLabel</div>
<label>
    <input class="LabelDetails" maxlength="@Maximumletters" placeholder="@PlaceHolder" @oninput="OnInputWordChangedChanged"/>
</label>


@code {
    [Parameter] public string TextOverLabel { get; set; }
    [Parameter] public string InputWord { get; set; }
    [Parameter] public string Maximumletters { get; set; } = "100";
    [Parameter] public string PlaceHolder{ get; set; }

    [Parameter] public EventCallback<string> InputWordChanged { get; set; }

    private Task OnInputWordChangedChanged(ChangeEventArgs e)
    {
        InputWord = e.Value.ToString();
        return InputWordChanged.InvokeAsync(InputWord);
    }
}