<div class="smallText" style="color: black; font-size: 11.2pt; margin-top: 20px;height: 11px;">@TextOverLabel</div>
<label>
    <input type="@TypeWord" spellcheck="false" @oninput="OnPositionIdChanged" class="InputMail" />
</label>




@code {
    [Parameter]
    public string TextOverLabel { get; set; }

    [Parameter] public string PositionId { get; set; }

    [Parameter] public EventCallback<string> PositionIdChanged { get; set; }

    [Parameter] public string TypeWord { get; set; } = "text";

    private Task OnPositionIdChanged(ChangeEventArgs e)
    {
        PositionId = e.Value.ToString();
        return PositionIdChanged.InvokeAsync(PositionId);
    }
}
