<label style="display:flex">
    <input class="LabelAgency" style="width: 240px; border-right: none;" placeholder="Enter or choose HEX" name="color" @oninput="OnColorIdChanged" value="@ColorId" />
    <div style="height: 41px; border: 2px solid #00000012; border-left: none;">
        <input style="width: 50px; margin-top: 3px;height: 30px; border: none;" type="color" value="ColorId" @oninput="OnColorIdChanged">
    </div>
</label>

@code {
    [Parameter]
    public string TextOverLabel { get; set; }

    [Parameter] public string ColorId { get; set; }

    [Parameter] public EventCallback<string> ColorIdChanged { get; set; }

    [Parameter] public string TypeWord { get; set; } = "text";

    private Task OnColorIdChanged(ChangeEventArgs e)
    {
        ColorId = e.Value.ToString();
        return ColorIdChanged.InvokeAsync(ColorId);
    }
}
