<label class="TextAgency" for="logo">Logo </label>
<div class="input-icons" style=" display: flex;">
    <i class="fa fa-upload icon"></i>
    <input id="logo" class="LabelAgency input-field"
           placeholder="Drag & drop it here or upload" style="text-indent: 30px;width: 210px; border-right: none;" />
    <div style="height: 41px; border: 2px solid #00000012; border-left: none;padding: 4px; width:80px;">
        <InputFile class="custom-file-input" OnChange="OnLinkLogoFilesChange" style="width: 70px;" />
    </div>
</div>


@code{
     private async void OnLinkLogoFilesChange(InputFileChangeEventArgs e)
        {
            //AgencyInformation.Logo = e.File;
            ////var zalupa = AgencyInformation.Logo.Name;


        }
        [Parameter] public string TextOverLabel { get; set; }

    [Parameter] public string Logo { get; set; }

    [Parameter] public EventCallback<string> ColorIdChanged { get; set; }


    private Task OnColorIdChanged(ChangeEventArgs e)
    {
        Logo = e.Value.ToString();
        return ColorIdChanged.InvokeAsync(Logo);
    }
}