<div style="height: 650px;  width: 1050px; position: absolute; text-align: -webkit-center; opacity: 0.2; background:black;">
    <div style="margin-top: 300px;">
        <div class="donut"></div>
    </div>
</div>
