<div style="display:flex; margin-top: 80px; margin-right: 160px;">
    <div class="TextHaveAccount">Have a account?</div>
    <a class="TextSignIn" type="text" spellcheck="false" @oninput="OnLogInChanged">Sign In ></a>
    <div></div>
</div>

@code {
    [Parameter] public bool LogIn{ get; set; }
    [Parameter] public EventCallback<bool> LogInChanged { get; set; }
    private async void SignIn()
    {
        LogIn = true;
    }
     private Task OnLogInChanged(ChangeEventArgs e)
    {
        LogIn = bool.Parse(e.Value.ToString());
        return LogInChanged.InvokeAsync(LogIn);
    }
}