<div class="squareIndent">
    <div class="WhiteBox"></div>
    <div style="margin-left: 15px;">
        <div class="headwords">@SubTitle</div>
        <div class="smallText">@SmallTextTittle</div>
    </div>
</div>


@code{
    [Parameter]
    public string SubTitle{ get; set; }
    [Parameter]
    public string SmallTextTittle{ get; set; }
}