<div class="squareIndent">
    <div class="WhiteBoxEnterPassord"></div>
    <div style="margin-left: 15px;">
        <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">
           @SmallTextTittle
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string SmallTextTittle{ get; set; }
}