<div style="margin-top: 150px;">
    <div class="RightHeadWordsBox" style="width:443px;">Save Agency Information</div>
    <div class="boxSuccessfulMail" style="margin-left: 35px;">
        <div style="display: table-cell; vertical-align: middle;text-align: -webkit-center;">
            <div class="CenterImg">
                <img style="margin-top: 16px;" src="/ScreenShots/MailIcon.png" />
            </div>
            <div class="smallText" style="font-size: 10pt; color: black; font-weight: 600;  margin-top: 22px;">Successful</div>
        </div>
    </div>
</div>