body {
}

.WhiteBox {
    background: white;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    /*    place-self: center;*/
    /*center;*/
    border-radius: 20%;
}

.WhiteBoxEnterPassord {
    background: white;
    height: 45px;
    width: 45px;
    margin-left: 100px;
    border-radius: 20%;
}

.headwords {
    color: white;
    font-weight: 600;
    width: 300px;
    font-size: 15pt;
    line-height: 16pt;
}

.basicBox {
    display: flex;
    height: 650px;
    width: 1050px;
    margin: auto;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    margin-top: 7%;
    margin-bottom: 7%;
}

.leftSideOfRegistration {
    width: 525px;
    background: #28292B;
    margin-right: auto;
}

.rightSideOfRegistration {
    width: 525px;
    background: white;
    margin-left: auto;
}

.smallText {
    color: #ABABAB;
    width: 300px;
    height: 20px;
    line-height: 9pt;
    font-size: 8pt;
    margin-top: 8px;
}

.squareIndent {
    display: flex;
    margin-top: 40px;
}

.RightBoxText {
    color: #5C5C5C;
    font-size: 10pt;
    height: 20px;
    font-size: 10pt;
}

.RightHeadWordsBox {
    color: black;
    font-size: 30pt;
    margin-top: 80px;
    font-weight: 600;
    width: 300px;
    line-height: 15pt;
}

.buttonSendEmail {
    line-height: 14pt;
    height: 35px;
    width: 380px;
    background: black;
    color: white;
    font-size: 13.5pt;
    font-weight: 600;
    margin-top: 45px;
}

.TextSignIn {
    color: black;
    font-size: 11.5pt;
    width: 80px;
    height: 20px;
    line-height: 18pt;
    border-bottom-style: ridge;
}

.TextHaveAccount {
    color: #4F4F4F;
    font-size: 11.5pt;
    text-align: right;
    margin-right: 10px;
    width: 300px;
    height: 20px;
    line-height: 18pt;
}

.InputMail {
    height: 35px;
    width: 380px;
    font-size: 10px;
    padding: 10px;
    font-weight: 600;
}

.DivLocation {
    font-size: 30pt;
    font-weight: 850;
    margin-top: 40px;
    margin-left: 75px;
}

.CenterImg {
    height: 60px;
    width: 60px;
    background: black;
    vertical-align: middle;
    text-align: center;
    border-radius: 20%;
}

.boxSuccessfulMail {
    margin-top: 40px;
    background: #EBEFFA;
    height: 180px;
    width: 380px;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 3%;
}

.leftBoxInformation {
    width: 250px;
    background: #E9ECF3;
}
.rightBoxDetails {
    width: 850px;
}
.FizeImageDetails {
    margin-top: 30px;
    font-size: 20pt;
    font-weight: 850;
}
.circleDetails {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #00000042;
}
.lineDetails {
    margin-left: 20.7px;
    height: 65px;
    width: 3px;
    background: #00000029;
    margin-top: 5px;
    margin-bottom: 5px;
}
.blockContactUs {
    background: #dadee7;
    width: 160px;
    height: 160px;
}
.buttonContactUs {
    width: 120px;
    font-size: 11pt;
    background: black;
    color: white;
}






@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.donut {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-bottom: black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: donut-spin 1.2s linear infinite;
    z-index: 99999;
}
