<div class="basicBox" style="margin-top:7%;" >
    <div class="leftSideOfRegistration">
        <div style="margin-left:100px">
            <div class="headwords" style=" margin-top: 80px; font-size: 21pt; line-height: 27.5pt;">Delight your Clients with a Superior Experience</div>
        </div>
        <div class="squareIndent" style="margin-top: 80px;">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt;; width: 280px;">No need to search for policy documents and figuring out how to get it to you</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">No more miscommunication of coverages, deductibles, vehicles, VINs, endorsements, or binders</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">Clients can submit all this Information securely while they`re on the phone with you</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">You`ll be able to provide a fast and accurate , apples-to-apples comparison quote</div>
            </div>
        </div>
    </div>
    <div class="rightSideOfRegistration">

        <div class="DivLocation">
            <img src="/ScreenShots/Fize.jpg" style="width: 20px;" /> fize
        </div>

        <div class="DivLocation">

            <div>
                <div class="RightHeadWordsBox">Welcome there!</div>
                <div class="RightBoxText" style=" margin-top: 20px; font-size: 12.3pt; height: 11px;">Please set your password</div>
                <div>
                    <div class="smallText" style="color: black; font-size: 11.2pt; margin-top: 30px;height: 11px;">New password</div>
                    <label>
                        <input @bind="Password" class="InputMail" />
                    </label>
                    <div class="smallText" style="margin-top: 20px;  color: black; font-size: 11.2pt; height: 11px;">Confirm new password</div>
                    <label>
                        <input @bind="ConfirmPassword" class="InputMail" />
                    </label>
                    <button style="margin-top: 45px;" class="buttonSendEmail" @onclick="SetPassword">Set Password</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string Password;
    private string ConfirmPassword;

    public async Task SetPassword()
    {
        if (Password == ConfirmPassword)
        {
            //Some Logic
        }
    }
 }