@page "/auth/signup/email/confirmation"
@using FizeRegistration.Client.Components.PartOfTheSite


<div class="basicBox" style="margin-top:7%; height:650px;">
    @if (LoadingProcess)
    {
        <LoadingBar></LoadingBar>
    }
    <BlockCreatePassword></BlockCreatePassword>
    <div class="rightSideOfRegistration">

        <div class="DivLocation">
            <FizeImage></FizeImage>
        </div>
        @if (SuccessfulPassword)
        {
            <BlockSuccesfulMail IsButton=@(true) Message="Great! Your account was successfully created! Now you can log in!"></BlockSuccesfulMail>
        }
        else
        {
            <EditForm Model="@password" OnValidSubmit="@SendConfirmation">
                <DataAnnotationsValidator />

                <div class="DivLocation">
                    <div>
                        <div class="RightHeadWordsBox">Welcome there!</div>
                        <div class="RightBoxText" style=" margin-top: 20px; font-size: 12.3pt; height: 11px;">
                            Please set your password

                            <label class="smallText" style="color: black; font-size: 11.2pt; margin-top: 30px;height: 11px;" for="newpassword">New password </label>
                            <InputText type="password" id="newpassword" @bind-Value="password.NewPassword" class="InputMail"
                                   placeholder="Enter your agency name"></InputText>
                            <ValidationMessage For="@(() => password.NewPassword)" style="height: 0px;font-size: 10pt;" />
                            <label class="smallText" style="color: black; font-size: 11.2pt; margin-top: 30px;height: 11px;" for="newpassword"> Confirm new password</label>
                            <InputText type="password" id="newpassword" @bind-Value="password.ConfirmPasswords" class="InputMail"
                                   placeholder="Enter your agency name"></InputText>
                            <ValidationMessage For="@(() => password.ConfirmPasswords)" style="height: 0px;font-size: 10pt;" />
                            <button style="margin-top: 45px;" class="buttonSendEmail" @onclick="SendConfirmation">
                                Set
                                Password
                            </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </div>

</div>
