@page "/create"

<div class="basicBox" style="margin-top:7%;" >
   <LeftBlackBoxCreatePassword></LeftBlackBoxCreatePassword>
    <div class="rightSideOfRegistration">

        <FizeImage></FizeImage>

        <div class="DivLocation">

            <div>
                <div class="RightHeadWordsBox">Welcome there!</div>
                <div class="RightBoxText" style=" margin-top: 20px; font-size: 12.3pt; height: 11px;">Please set your password</div>
                <div>
                    <div class="smallText" style="color: black; font-size: 11.2pt; margin-top: 30px;height: 11px;">New password</div>
                    <label>
                        <input @bind="Password" class="InputMail" />
                    </label>
                    <div class="smallText" style="margin-top: 20px;  color: black; font-size: 11.2pt; height: 11px;">Confirm new password</div>
                    <label>
                        <input @bind="ConfirmPassword" class="InputMail" />
                    </label>
                    <button style="margin-top: 45px;" class="buttonSendEmail" @onclick="SetPassword">Set Password</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string Password;
    private string ConfirmPassword;

    public async Task SetPassword()
    {
        if (Password == ConfirmPassword)
        {
            //Some Logic
        }
    }
 }