@page "/Detail"

<div class="basicBox" style="background:white;height: 800px; width:1150px">
    <div class="leftBoxInformation">
        <div>
            <div class="FizeImageDetails" style="margin-left: 45px;">
                <FizeImage></FizeImage>
            </div>
            <div style="margin-top: 57px;margin-left: 45px;">
                <CircleDetails StepText="Step 1" SubtitleText="Basic Detalis"></CircleDetails>
                <div class="lineDetails"></div>
                <CircleDetails StepText="Step 2" SubtitleText="Tour"></CircleDetails>
                <div class="lineDetails"></div>
                <CircleDetails StepText="Step 3" SubtitleText="Collect Dec Pages"></CircleDetails>
            </div>
            <ButtonContactUs></ButtonContactUs>
        </div>
    </div>
    <div class="rightBoxDetails">
        <div style="margin-left: 115px; border-bottom: 1px solid #00000012;;  margin-right: 180px; margin-top: 95px; font-weight: 800; font-size: 15pt; height: 40px; margin-bottom: 15px;">Let`s set up your agency</div>
        <div>
            <div></div>
            <div style="display:flex">
                <div style="margin-left: 115px;margin-right: 35px;">
                    <LabelDetails TextOverLabel="Agency Name" @bind-InputWord="AgencyName" PlaceHolder="Enter your agency name"></LabelDetails>
                </div>
                <div>
                    <LabelDetails TextOverLabel="WebSite" @bind-InputWord="WebSite" PlaceHolder="Enter your company website"></LabelDetails>
                </div>
            </div>
            <div style="display:flex">
                <div style="margin-left: 115px; margin-top: 15px;margin-right: 35px;">
                    <div class="TextDetails">Brand Color</div>
                    <LableColor @bind-ColorId="Color"></LableColor>
                </div>
                <div style="margin-top: 15px; ">
                    <div class="TextDetails">Logo</div>
                    <label style="display: flex; align-items: center;">
                        <input style="width: 220px; border-right: none;" class="LabelDetails" placeholder="Drag & drop it here or upload" />
                        <div style="height: 41px; border: 2px solid #00000012; border-left: none;">
                            <button style="margin-top: 3px;    font-weight: 600; background: white;">Upload</button>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div style="margin-left: 115px; ">
            <div style="border-bottom: 1px solid #00000012; margin-right: 180px; margin-top: 35px; font-weight: 800;  font-size: 15pt; margin-bottom: 20px;">Let`s set up your profile</div>
            <div style="font-size: 10pt;  font-weight: 800; margin-bottom: 8px;">Picture</div>
            <div style="display:flex">
                <div style="height: 88px; width: 88px; border-radius: 50%; border: 2px solid #00000012;"></div>
                <button style="    height: 28px; width: 70px; align-self: center; margin-left: 15px; font-size: 11pt; font-weight: 800; border: 1px solid black; background:white;">Upload</button>
            </div>
        </div>

        <div>
            <div></div>
            <div style="display:flex">
                <div style="margin-left: 115px;margin-right: 35px; margin-top:15px">
                    <LabelDetails TextOverLabel="First Name" @bind-InputWord="FirstName" PlaceHolder="Enter your first name"></LabelDetails>
                </div>
                <div style="margin-top:15px">
                    <LabelDetails TextOverLabel="Last Name" @bind-InputWord="LastName" PlaceHolder="Enter your last name"></LabelDetails>
                </div>
            </div>
            <div style="display:flex">
                <div style="margin-left: 115px; margin-top: 15px;margin-right: 35px; ">

                    <LabelDetails TextOverLabel="Link" @bind-InputWord="Link" PlaceHolder="Enter link here"></LabelDetails>
                </div>

                <div style="margin-top: 15px;">

                    <LabelDetails TextOverLabel="Phone Numbe" PlaceHolder="Enter a valid phone number" @bind-InputWord="PhoneNumber"></LabelDetails>
                </div>
            </div>
        </div>
        <div style="margin-left: 115px;">
            <div style="width: 616px; background: #00000012; height: 1px;  margin-top: 50px; margin-bottom: 27px;"></div>
            <button style="height: 40px; width: 140px; background: white; color: black; font-weight: 800;" @onclick="DiscardChanges">Discard Changes</button>
            <button style="float: right; margin-right: 180px; height: 40px;  width: 140px; background: black; color: white; font-weight: 800;" @onclick="ContinueNext">Continue</button>
        </div>
    </div>
</div>

@code {
    private string Color { get; set; }
    private string AgencyName { get; set; }
    private string WebSite { get; set; }
    private string LastName { get; set; }
    private string Link { get; set; }
    private string FirstName { get; set; }
    private string PhoneNumber { get; set; }

  
      }