@page "/Detail"

<div class="basicBox" style="background:white">
    <div class="leftBoxInformation">
        <div style="margin-left: 45px;">
            <div class="FizeImageDetails">
                <FizeImage></FizeImage>
            </div>
            <div>
                <div>
                    <div class="circleDetails"></div>
                    <div style="display:flex">
                        <div>Step 1</div>
                        <div>Basic Detalis</div>
                    </div>
                </div>

                <div class="lineDetails"></div>
                <div>
                    <div class="circleDetails"></div>
                    <div style="display:flex">
                        <div>Step 2</div>
                        <div>Tour</div>
                    </div>
                </div>
                <div class="lineDetails"></div>
                 <div>
                    <div class="circleDetails"></div>
                    <div style="display:flex">
                        <div>Step 3</div>
                        <div>Collect Dec Pages</div>
                    </div>
                </div>
            </div>
            <div class="blockContactUs" style="text-align: -webkit-center; margin-top: 100px;">
                <div style="height: 20px;"></div>
                <div style="background: #00000042; border: 0px solid #00000042; margin-bottom: 10px;" class="circleDetails"></div>
                <div style="width: 160px; font-size: 11pt; color: black;" class="headwords">Having troubles?</div>
                <div style=" width: 160px; font-size: 10pt; color: #7a7a7a; font-weight: 500;" class="smallText">We would love to help</div>
                <button class="buttonContactUs">Contact Us</button>
            </div>

        </div>
    </div>
    <div class="rightBoxDetails"></div>
</div>