@page "/Detail"

<div class="basicBox" style="background:white">
    <div class="leftBoxInformation">
        <div class="FizeImageDetails">
            <FizeImage></FizeImage>
        </div>
        <div style="margin-left: 55px;">
            <div class="circleDetails"></div>
            <div class="lineDetails"></div>
            <div class="circleDetails"></div>
            <div class="lineDetails"></div>
            <div class="circleDetails"></div>
        </div>
        <div class="blockContactUs" style="text-align: -webkit-center; margin-top: 100px;">
            <div style="height: 20px;"></div>
            <div style="background: #00000042; border: 0px solid #00000042;" class="circleDetails"></div>
            <div style="width: 170px; font-size: 11pt; color: black;" class="headwords">Having troubles?</div>
            <div style=" width: 170px; font-size: 10pt; color: #7a7a7a; font-weight: 500;" class="smallText">We would love to help</div>
            <button>Contact Us</button>
        </div>

    </div>
    <div class="rightBoxDetails"></div>
</div>