@page "/Detail"

<div class="basicBox" style="background:white;height: 800px; width:1150px">
    <div class="leftBoxInformation">
        <div style="margin-left: 45px;">
            <div class="FizeImageDetails">
                <FizeImage></FizeImage>
            </div>
            <div>
                <div style="display: flex;">
                    <div class="circleDetails"></div>
                    <div style="margin-left: 10px;" >
                        <div style="font-size: 10pt;  font-weight: 600;">Step 1</div>
                        <div style="font-weight: 800;  font-size: 11pt; font-family: monospace;">Basic Detalis</div>
                    </div>
                </div>

                <div class="lineDetails"></div>
                <div style="display: flex;">
                    <div class="circleDetails"></div>
                    <div  style="margin-left: 10px;">
                        <div style="font-size: 10pt;  font-weight: 600;color: #a0a6b1;">Step 2</div>
                        <div style="font-weight: 800; color: #5b5c5e; font-size: 11pt;">Tour</div>
                    </div>
                </div>
                <div class="lineDetails"></div>
                 <div style="display: flex;">
                    <div class="circleDetails"></div>
                    <div  style="margin-left: 10px;">
                        <div style="font-size: 10pt;  font-weight: 600;">Step 3</div>
                        <div style="font-weight: 800;">Collect Dec Pages</div>
                    </div>
                </div>
            </div>
            <div class="blockContactUs" style="text-align: -webkit-center; margin-top: 100px;">
                <div style="height: 20px;"></div>
                <div style="background: #00000042; border: 0px solid #00000042; margin-bottom: 10px;" class="circleDetails"></div>
                <div style="width: 160px; font-size: 11pt; color: black;" class="headwords">Having troubles?</div>
                <div style=" width: 160px; font-size: 10pt; color: #7a7a7a; font-weight: 500;" class="smallText">We would love to help</div>
                <button class="buttonContactUs">Contact Us</button>
            </div>

        </div>
    </div>
    <div class="rightBoxDetails"></div>
</div>