@page "/"
@using AntDesign
@using FizeRegistration.Client.Helpers
@using System.ComponentModel
@inherits AntDomComponentBase
@inject NavigationManager NavigationManager

@*@code{
    protected override async Task OnInitializedAsync()
    {
         NavigationManager.NavigateTo("/auth");
    }
}*@


@inject IJSRuntime JSRuntime

<div id="map" style="height:500px;width:100%;">
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           await JSRuntime.InvokeVoidAsync("initMap", null); 
        }
    }
}