 <div style="margin-left:100px">
            <div class="headwords" style=" margin-top: 80px; font-size: 27pt;">Fize Agency Tool</div>
            <div style="color: white; font-size: 14.5pt;  width: 350px; line-height: 17pt; margin-top: 14px;">Connect and viev your customer`s current insurance docs instantily</div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBox"></div>
            <div style="margin-left: 15px;">
                <div class="headwords">Super quick sign up</div>
                <div class="smallText">Create a free Fize account in under a minute,with no credit card required</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBox"></div>
            <div style="margin-left: 15px;">
                <div class="headwords">Enable modern customer experience</div>
                <div class="smallText">In seconds,Your clients can simply connect and share with you their insurance datalis</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBox"></div>
            <div style="margin-left: 15px;">
                <div class="headwords">Reduce manual workload on your customers and close more with hyper-personalized service</div>
                <div class="smallText">Reduce your customer`s manual workload and introduce hyper-personalization</div>
            </div>
        </div>