 <div class="leftSideOfRegistration">
        <div style="margin-left:100px">
            <div class="headwords" style=" margin-top: 80px; font-size: 21pt; line-height: 27.5pt;">
                Delight your Clients with a Superior Experience
                </div>
        </div>
        <div class="squareIndent" style="margin-top: 80px;">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">
                    No need to search for policy documents and figuring out how to get it to you
                    </div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">
                    No more miscommunication of coverages, deductibles, vehicles, VINs, endorsements, or binders
                    </div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">
                    Clients can submit all this Information securely while they`re on the phone with you
                    </div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBoxEnterPassord"></div>
            <div style="margin-left: 15px;">
                <div class="smallText" style="line-height: 16pt;font-size: 11pt; width: 280px;">
                    You`ll be able to provide a fast and accurate , apples-to-apples comparison quote
                    </div>
            </div>
        </div>
    </div>