<div class="leftSideOfRegistration">
    <HeaderOfThePageCreatePassword 
        MainTitle="Delight your Clients with a Superior Experience">
    </HeaderOfThePageCreatePassword>
    <BlockWithUnchangedInformationCreatePassword 
        SmallTextTittle="No need to search for policy documents and figuring out how to get it to you">
    </BlockWithUnchangedInformationCreatePassword>
    <BlockWithUnchangedInformationCreatePassword 
        SmallTextTittle="No more miscommunication of coverages, deductibles, vehicles, VINs, endorsements, or binders">
    </BlockWithUnchangedInformationCreatePassword>
    <BlockWithUnchangedInformationCreatePassword 
        SmallTextTittle="Clients can submit all this Information securely while they`re on the phone with you">
    </BlockWithUnchangedInformationCreatePassword>
    <BlockWithUnchangedInformationCreatePassword 
        SmallTextTittle="You`ll be able to provide a fast and accurate , apples-to-apples comparison quote">
    </BlockWithUnchangedInformationCreatePassword>
</div>
