<div style="margin-left: 75px;">
    <div class="RightHeadWordsBox" style="width:400px;">Confirm your Email</div>
    <div class="boxSuccessfulMail">
        <div style="display: table-cell; vertical-align: middle;text-align: -webkit-center;">
            <div class="CenterImg">
                <img style="margin-top: 16px;" src="/ScreenShots/MailIcon.png" />
            </div>
            <div class="smallText" style="font-size: 10pt; color: black; font-weight: 600;  margin-top: 22px;">Successfully made your account. Check your email</div>
        </div>
    </div>
</div>