@using FizeRegistration.Common
@inject NavigationManager UrlManager
@inject HttpClient HttpClient
<div class="DivLocation">
    <div>
        <div class="RightHeadWordsBox">Sign up with Fize</div>
        <div class="RightBoxText" style=" margin-top: 20px;">Try Fize risk free,no credit card required</div>
        <LabelSendEmail TextOverLabel="Work email adress" @bind-PositionId="Email"></LabelSendEmail>
        <div class="RightBoxText" style="  margin-top: 5px; ">Only work emails are allowed to register</div>
        <Button Email="@Email" />
        <div class="RightBoxText" style=" width: 200px; text-align: -webkit-center; margin-left: 85px; font-size: 9pt; line-height: 13pt;">By clicking 'Start for free' you agree to our Terms and Privacy Policy</div>
        <ButtonSignIn  @bind-LogIn="LogIn" ></ButtonSignIn>

    </div>
</div>

@code {
    private string Email { get; set; }
    [Parameter]
    public bool SendMail { get; set; }
    [Parameter]
    public bool LogIn{ get; set; }

    private async void SendEmailPost()
    {
        if (Email is not null)
        {
            SendMail = true;
            MailSettings mail = new MailSettings { ToEmail = Email };
            var biba = await HttpClient.PostAsJsonAsync<MailSettings>("Email", mail);
        }
    }

   

}