@using System.Net;
@using System.Net.Mail;
@using FizeRegistration.Common
@*@inject FizeRegistration.Common.IMailService MailService*@
@inject NavigationManager UrlManager
@inject HttpClient HttpClient
@*@inject IMailService MailService*@

<div class="basicBox">
    <div class="leftSideOfRegistration">
        <div style="margin-left:100px">
            <div class="headwords" style=" margin-top: 80px; font-size: 3vh;">Fize Agency Tool</div>
            <div style="color:white;font-size: 2vh; line-height: 2.4vh;">Connect and viev your customer`s current insurance docs instantily</div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBox"></div>
            <div style="margin-left: 15px;">
                <div class="headwords">Super quick sign up</div>
                <div class="smallText">Create a free Fize account in under a minute,with no credit card required</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBox"></div>
            <div style="margin-left: 15px;">
                <div class="headwords">Enable modern customer experience</div>
                <div class="smallText">In seconds,Your clients can simply connect and share with you their insurance datalis</div>
            </div>
        </div>
        <div class="squareIndent">
            <div class="WhiteBox"></div>
            <div style="margin-left: 15px;">
                <div class="headwords">Reduce manual workload on your customers and close more with hyper-personalized service</div>
                <div class="smallText">Reduce your customer`s manual workload and introduce hyper-personalization</div>
            </div>
        </div>
    </div>
    <div class="rightSideOfRegistration">
        <div style="font-size: 3.4vh; font-weight:850;  margin-top: 40px; margin-left: 85px;">
            <div>
                <img src="/ScreenShots/Fize.jpg" style="width: 20px;" /> fize
            </div>
            <div>
                <div class="headwords" style="color:black; font-size: 4vh; margin-top: 80px; ">Sign up with Fize</div>
                <div class="smallText" style="color:black; margin-top: 20px; font-size: 1.3vh;">Try Fize risk free,no credit card required</div>
                <div>
                    <div class="smallText">work email adress</div>
                    <label>
                        <input style="height: 35px; width: 270px; font-size: 10px; padding: 10px;" />
                    </label>
                    <div></div>
                </div>
            </div>
        </div>

    </div>
</div>


@*<div style="align-items: center;text-align: center;" class="form-group">
    <label>
        <input @bind="Email" required placeholder="Your Email" />

    </label>
</div>
<div class="modal-body" style="align-self: center; text-align-last: center;">
    <button @onclick="StartGame">Start For Free</button>
</div>*@

@code {
    public string Email { get; set; }

    private async void StartGame()
    {

        //bool correctEmail = MailService.IsValidEmail(Email);
        if (Email is not null)
        {
            MailSettings mail = new MailSettings { ToEmail = Email };
            var biba = await HttpClient.PostAsJsonAsync<MailSettings>("Email", mail);
        }

    }

}
