@using System.Net;
@using System.Net.Mail;
@using FizeRegistration.Common
@inject NavigationManager UrlManager
@inject HttpClient HttpClient
@page "/send"

<div class="basicBox" style="margin-top:7%;">
    <div class="leftSideOfRegistration">
       <LeftBlackBoxSendEmail></LeftBlackBoxSendEmail>
    </div>
    <div class="rightSideOfRegistration">
        <FizeImage></FizeImage>
        @if (LogIn)
        {
            <RightWhiteBoxSignIn></RightWhiteBoxSignIn>
        }
        else if (SendMail)
        { 
           <RightWhiteBoxSuccessfulMail></RightWhiteBoxSuccessfulMail>
        }
        else
        {
            <RightWhiteBoxCreateMail ></RightWhiteBoxCreateMail>
        }
    </div>
</div>


@code {
    private bool SendMail;
    private bool LogIn;
}
