@using System.Text.RegularExpressions
@using FizeRegistration.Client.Services.HttpService.Contracts
@using FizeRegistration.Shared.DataContracts


<div class="DivLocation">
    <div>
        <div class="RightHeadWordsBox">Welcome there!</div>
        <div class="RightBoxText" style=" margin-top: 20px; font-size: 12.2pt; height: 11px;">Please Sign in User</div>
        <div>
            <LabeSignIn TextOverLabel="Email" @bind-PositionId="Email">
            </LabeSignIn>
            <LabeSignIn TypeWord="password" TextOverLabel="Password" @bind-PositionId="Password">
            </LabeSignIn>
            @if (BadRequestEmail)
            {
                <div class="RightBoxText" style="color:red">@SendMessageBadMail</div>
            }
            <button class="buttonSendEmail" @onclick="Login">Sign In</button>
        </div>
    </div>
</div>

@code {


}