<div class="leftBoxInformation">
    <div>
        <div class="FizeImageAgency" style="margin-left: 45px;">
            <FizeImage></FizeImage>
        </div>
        <div style="margin-top: 57px;margin-left: 45px;">
            <CircleAgency StepText="Step 1" SubtitleText="Basic Detalis"></CircleAgency>
            <div class="lineAgency"></div>
            <CircleAgency StepText="Step 2" SubtitleText="Tour"></CircleAgency>
            <div class="lineAgency"></div>
            <CircleAgency StepText="Step 3" SubtitleText="Collect Dec Pages"></CircleAgency>
        </div>
        <ButtonContactUs></ButtonContactUs>
    </div>
</div>