    <div style="margin-left:100px">
        <div class="headwords" style=" margin-top: 80px; margin-bottom:80px; font-size: 21pt; line-height: 27.5pt;">
            @MainTitle
        </div>
    </div>

@code{
    [Parameter]
    public string MainTitle{ get; set; }
    }